@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200&family=Raleway:wght@100&display=swap');

* {
    margin: 0;
    padding: 0;
    border: 0;
}

body {
    font-family: poppins, sans-serif;
    font-weight: 200;
    color: #6d8474;
}

p, h2, h3 {
    text-align: center;
    padding: 10px;
}

/* Headings and Logo */ 

#header {
    position: fixed;
    background-color: rgb(255,255,255,0.9);
    width: 100%;
}

h1 {
    font-family: Raleway, sans-serif;
    letter-spacing: 2px;
    color: #3a3a3a;
    font-size: 180%;
    padding: 15px;
    text-align: center;
}

#logo {
    float: left;
    font-size: 300%;
    text-align: center;
}

/* navigation links */

#menu {
    font-size:80%;
    clear: left;
    letter-spacing: 2px;
    line-height: 25px;


}
 #logo {
    line-height: 25px;

}

#menu li{
    list-style-type: none;
    margin: 5px;
    float: left;
}

#menu a {
    text-decoration: none;
    color: inherit;
}

#menu a:hover {
    border-bottom: 1px solid #3a3a3a;
}

/*Wellnest Cover image */ 

#hero-image {
    height: 600px;
    background-image: url(../photos/hero_image.webp);
    background-size:cover;
    background-position:center;
    background-repeat:no-repeat;
  }
/* Risk Factor Section */

#stress {
    /*background: url('../photos/stress.webp') center center;*/
    height:400px;
    background-size:cover;
    background-position:center;
    background-repeat:no-repeat;
    background-color: #6d8474;
    color: #fafafa;
}


#factors li {
    text-align: center;
    list-style-type: circle;
    font-style: italic;
}

/*Beating Burnout Page */

#burnout {
    height: 600px;
    background-image: url('../photos/burnout.webp');
    background-size:cover;
    background-position:center;
    background-repeat:no-repeat;

}
/* YOUTUBE VIDEO */

#iframe {
    width: 100%;
}
/* Image Curating Desktop Background */

#workstation {
    background: url('../photos/workstation.webp') no-repeat center center;
    height: 300px;
    width: 100%;
    background-size: cover;
    position:relative;
}


/* DOWNLOAD DESKTOP BACKGROUNDS */

#button {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
}

.download_desktop {
    background-color: #6d8474;
    border: none;
    color: white;
    padding: 15px 30px;
    text-align: center;
    text-decoration: none;
    font-size: 16px; 
    
  }

  /* Exercise */
  #exercise {
    background: url('../photos/exercise.png') no-repeat center center;
    background-size: cover;
    margin: 10px 0 10px 0;
}

/*Keep in Touch Page */ 

#sign_up {
    height: 600px;
    background-image: url('../photos/sign_up.webp');
    background-size:cover;
    background-position:center;
    background-repeat:no-repeat;

}

/*Sign Up Form*/
.form-section {
    clear: left;
    background-size: cover;
    background-position: center;
    height: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.signup-form {
    color: #fff;
    background-color: rgb(176,166,164,0.4);
    max-width: 400px;
    padding: 30px;
}

.signup-form h2 {
    color: #fafafa;
    margin-bottom: 20px;
}

.text-input {
    background: transparent;
    color: #fafafa;
    width: 100%;
    height: 25px;
    margin:5px 0 20px 0;
    border: 1px solid #fafafa;
    border-radius: 2px;
}

.text-input:hover {
    border-color: #6d8474;
}

.join-button {
    border-radius: 2px;
    padding: 15px 32px 15px 32px;
    text-align: center;
    font-size: 100%;
    background-color: #6d8474;
    color:#fafafa;
    display: block;
}

.join-button:hover {
    background-color: #fafafa;
    color: #6d8474;
}

  /* footer section */

footer {
    clear: both;
}
footer p {
    margin-left:25px;
}

.social-networks {
    text-align: center;

}
.social-networks > li {
    display: inline;
}

.social-networks i {
    font-size: 160%;
    margin: 1%;
    padding:1%;
    color: #6d8474;
}


/*Media Queries*/
/* Screens above 700px wide */ 

@media screen and (min-width: 700px) {
    #menu {
        float: right;
        font-size: larger;
        clear: none;
        line-height: 55px;
       }



    #iframe{
        height: 500px;
    } 
    #exercise{
        height: 500px;
    }
 
    #exercise p {
        padding: 100px;
 
 }

 p {
    line-height: 65px;
    font-size: larger;
}

h2 {
    font-size: 45px;
    font-weight: bold;
}

#workstation {
    height: 500px;}

}


/* Screens below 342px wide */ 

@media screen and (max-width: 345px) {

    #menu {
        font-size: 11px;
    }

}
