@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200&family=Raleway:wght@100&display=swap');

* {
    margin: 0;
    padding: 0;
    border: 0;
}

body {
    font-family: poppins, sans-serif;
    font-weight: 200;
    color: #6d8474;
}

p, h2{
    text-align: center;
    padding: 10px;
}

/* Headings and Logo */ 

#header {
    position: fixed;
    background-color: rgb(255,255,255,0.9);
    width: 100%;
}

h1 {
    font-family: Raleway, sans-serif;
    letter-spacing: 2px;
    color: #3a3a3a;
    font-size: 180%;
    padding: 15px;
    text-align: center;
}

#logo {
    float: left;
    font-size: 300%;
    text-align: center;
}

/* navigation links */

#menu {
    font-size:80%;
    clear: left;
    letter-spacing: 2px;
    line-height: 25px;


}
 #logo {
    line-height: 25px;

}

#menu li{
    list-style-type: none;
    margin: 5px;
    float: left;
}

#menu a {
    text-decoration: none;
    color: inherit;
}

#menu a:hover {
    border-bottom: 1px solid #3a3a3a;
}

/*Wellnest Cover image */ 

#hero-image {
    height: 600px;
    background-image: url(../photos/hero_image.png);
    background-size:cover;
    background-position:center;
    background-repeat:no-repeat;
  }
/* Risk Factor Section */

#factors li {
    text-align: center;
    list-style-type: circle;
    font-style: italic;
}


  /* footer section */

footer {
    clear: both;
}
footer p {
    margin-left:25px;
}

.social-networks {
    text-align: center;

}
.social-networks > li {
    display: inline;
}

.social-networks i {
    font-size: 160%;
    margin: 1%;
    padding:1%;
    color: #6d8474;
}
